.main-nav {
  display: flex;
  gap: 0.5rem;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  min-width: 4rem;
  text-align: center;
  padding: 0.3rem;
  border-radius: 0.3rem;
  transition: .2s;
  border: 5px solid transparent;

  &:hover, &:active {
    background: #e0e0e0;
    animation: hover 1s .5s infinite;
  }

  &--marked {
    background: #6a9eff;
  }
}

@keyframes hover {
  0%{
    transform: rotateX(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100%{
    transform: rotateX(0);
  }
}

.nav-link.active {
  border-bottom: 5px solid #6a9eff;
  border-radius: 0;

  &:hover, &:active {
    background: #9abdff;
    border-radius: 0.3rem;
  }
}

.nav-profile{
  display: flex;
  align-items: center;
  background: #9abdff;
  padding: 0 .2rem;
  border-radius: .5rem;

  img {
    height: 35px;
    border-radius: 50%;
    margin-right: .5rem;
    padding: .1rem;
  }

  p{
    font-weight: bold;
    margin-right: .3rem;
  }
}
