.auth-nav{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.auth-link{
  color: black;
  text-decoration: none;
  font-weight: bold;
  border: 5px solid transparent;
  padding: .3rem .5rem;

  &:hover{
    color: #494949;
  }
}

.auth-link.active{
  border-bottom: 5px solid #6a9eff;
}

.auth-container{
  padding-top: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.auth-form{
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;

  input{
    margin-bottom: 1rem;
  }
}