@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.thread-card__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    cursor: pointer;
    position: relative;
    transition: .3s;
    border-bottom: 1px solid #a4a4a4;
    padding: 1rem;
    gap: .5rem;

    &:hover {
        background: #dedede;
    }
}

.thread-card__info{
    color: #6b6b6b;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: space-between;

    .thread-card__info-views{
        display: flex;
        align-items: center;

        img{
            max-height: 20px;
            margin-right: .5rem;
        }
    }
}
.thread-card__title{
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thread-card__user{
    display: flex;
    align-items: center;
    border-radius: .2rem;
    padding: .3rem;
    margin-left: -.3rem;

    &:hover,
    &:active{
        background: #ffffff;
    }

    img{
        height: 1.5rem;
        margin-right: .3rem;
    }

    p{
        font-weight: bold;
    }
}