*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.main-content{
    min-height: 200vh;
    padding-top: 2rem;
    width: 100%;
}

#container{
    width: 100%;
    margin-inline: auto;

    @media (min-width: 480px) {
        width: 80%;
    }

    @media (min-width: 1200px) {
        width: 60%;
    }
}
