.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  overflow: hidden;

  @media (min-width: 40rem) {
    padding: 0;
  }
}

.main-header__logo {
  color: black;
  text-decoration: none;
  padding-left: 1rem;
}
